/*-----------------------------------------*/
/*-----------------------------------------*/
body,
ul,
p,
h1,
h2,
h3,
h4,
h5 h6 {
  margin: 0;
}

/* HEADER */
.annoucment {
  background-color: #c95613;
  color: white;
  margin: auto;
  text-transform: capitalize;
  text-align: center;
  font: normal normal bold 15px/21px Roboto Condensed;
  padding: 5px;
}

.header_logo {
  max-width: 110px;
  height: auto;
  justify-content: space-evenly;
}

nav ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font: italic normal bold 20px/26px Roboto Condensed;
  color: #0a3641;
}

nav a {
  color: #0a3641;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  color: #c95613;
  text-decoration: underline;
}

nav li {
  padding: 20px;
}

.navigation {
  margin: 20px;
  display: flex;
}

.header-icons {
  position: absolute;
  right: 2em;
}

.header-icons img {
  max-width: 20px;
  height: auto;
  padding: 10px;
}

.active {
  color: #187a93;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .header_logo {
    max-width: 90px;
  }

  nav,
  #hamburger-menu,
  .header-icons {
    display: none;
  }

  .navigation {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cartMobile img {
    max-width: 80%;
  }

  .hamburger-label {
    color: #0a3641;
    padding: 6px;
    display: block;
    font-size: 2em;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }

  nav {
    flex-basis: 100%;
  }

  nav ul {
    all: unset;
    display: block;
    list-style: none;
    text-align: center;
    background: #e8f4ff;
  }

  nav a {
    font: italic normal bold 10px/16px Roboto Condensed;
  }
}

@media screen and (min-width: 769px) {
  .hamburger-label,
  #hamburger-menu,
  .cartMobile {
    display: none;
  }
}

/* FOOTER */
footer {
  background: transparent
    linear-gradient(180deg, #187a9300 0%, #13617568 96%, #0c3d4a 100%) 0% 0%
    no-repeat padding-box;
  margin-top: 4em;
}

.footerBackground {
  width: 100%;
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

h5 {
  font: italic normal bold 27px/35px Roboto Condensed;
  color: #0a3641;
  text-decoration: underline;
  margin: 0;
}

.custom-service-options ul {
  list-style: none;
  font: normal normal bold 15px/21px Roboto Condensed;
  padding: 0;
}

.custom-service-options a {
  text-decoration: none;
  color: #0a3641;
}

.custom-service-options a:hover {
  text-decoration: underline;
}

.about-us-footer p,
.footer_update p,
.footer_update label {
  max-width: 400px;
  font: normal normal normal 15px/19px Roboto Condensed;
  color: #0a3641;
}

.about-us-footer a {
  text-decoration: none;
  border: 2px solid #0a3641;
  font: normal normal bold 12px/15px Roboto Condensed;
  color: #0a3641;
  padding: 3px 15px;
  border-radius: 50px;
}

.copyright-footer {
  color: white;
  font: normal normal bold 12px/15px Roboto Condensed;
  text-transform: uppercase;
  position: absolute;
  margin: 300px 1000px 0px 0px;
}

.footer-logo img {
  max-width: 100px;
  height: auto;
  margin-bottom: 5em;
  justify-content: center;
}

.footer_update input {
  border: 3px solid var(--unnamed-color-0a3641);
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #0a3641;
  border-radius: 50px;
}

.footer_update button {
  border: 2px solid #0a3641;
  border-radius: 50px;
  font: normal normal bold 10px/13px Roboto Condensed;
  color: #de7c44;
  text-transform: uppercase;
}

.footer_update i {
  padding: 1em;
}

.error-message {
  display: none;
  font-size: 10px;
  color: red;
}

@media screen and (max-width: 768px) {
  .custom-service-options,
  .about-us-footer,
  .footer_update {
    margin: 0px 10px;
  }

  .copyright-footer {
    display: none;
  }
}

/*-----------------------------------------*/
/*-----------------------------------------*/
/* HOMEPAGE */

.homepage-bander {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.homepage-bander img {
  max-width: 100%;
  height: auto;
}

h1 {
  font: italic normal bold 70px/90px Roboto Condensed;
  letter-spacing: 0px;
  color: #187a93;
  text-shadow: 0px 3px 6px #de7c4480;
  text-transform: uppercase;
  align-content: center;
  margin: auto;
}

.feature-collection {
  text-decoration: none;
  color: #0a3641;
}

@media screen and (max-width: 768px) {
  h1 {
    display: none;
  }

  .homepage-bander {
    display: flex;
    flex-direction: column;
  }

  .homepage-bander img {
    max-width: 100%;
  }
}

.custom-promises-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin: 3em 1em;
}

h2 {
  font: normal normal bold 16px/22px Roboto Condensed;
  letter-spacing: 0px;
  color: #44a6de;
  text-transform: uppercase;
}

.custom-promises-thumbnails {
  text-align: center;
}

.custom-promises-thumbnails p {
  font: normal normal normal 15px/19px Roboto Condensed;
  color: #0a3641;
}

@media screen and (max-width: 768px) {
  .custom-promises-icon img {
    max-width: 40%;
  }

  h2 {
    font-size: 11px;
  }

  .custom-promises-thumbnails p {
    font-size: 9px;
  }
}

.shop-men-women-container {
  display: flex;
  justify-content: space-around;
  margin: 3em 0em;
  padding: 2em;
}

.shop-men-women img {
  max-width: 500px;
}

.shop-men-women img:hover {
  border: solid 2px #0c3d4a;
}

.shop-men-women p {
  text-align: center;
  text-transform: uppercase;
  font: normal normal bold 26px/32px Roboto Condensed;
}

.shop-men-women a {
  text-decoration: none;
  color: #0a3641;
}

.shop-men-women a:hover {
  text-decoration: underline;
  color: #c4662f;
}

@media screen and (max-width: 768px) {
  .shop-men-women-container {
    flex-wrap: wrap;
    gap: 1em;
  }

  .shop-men-women img {
    max-width: 300px;
  }

  .shop-men-women p {
    font-size: 16px;
  }
}

.animated-jacket-container {
  display: flex;
  justify-content: space-around;
}

.animated-jacket-container img {
  max-width: 1080px;
}

@media screen and (max-width: 768px) {
  .animated-jacket-container img {
    max-width: 100%;
  }
}

.homepage-feature-collection-container {
  max-width: 1000px;
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
}

.homepage-feature-collection-container h3 {
  flex-basis: 100%;
  text-align: center;
  margin: 1em;
  color: var(--unnamed-color-187a93);
  font: italic normal bold 40px/51px Roboto Condensed;
  color: #187a93;
}

.feature-collectionCta {
  flex-basis: 100%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.feature-collection {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  justify-content: space-between;
}

.feature-collection img {
  max-width: 200px;
}

.feature-collection img:hover {
  border: solid 1px #0c3d4a;
}

.likeIcon {
  cursor: pointer;
  user-select: none;
}

#likeIcon:hover {
  color: red;
}

.seeMoreBtn {
  background-color: #0a3641;
  border: #0a3641;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  font: normal normal bold 12px/15px Roboto Condensed;
}

@media screen and (max-width: 768px) {
  .homepage-feature-collection-container h3 {
    margin: 0;
  }

  .feature-collection img,
  .feature-collection {
    max-width: 150px;
  }

  .homepage-feature-collection-container {
    gap: 20px;
  }

  h4 {
    font-size: 13px;
  }

  .feature-collection p {
    font-size: 10px;
  }

  .likeCta img {
    max-width: 20px;
  }
}

/* Product details */

.size-choices li {
  display: inline-block;
  font: normal normal bold 17px/23px Roboto Condensed;
  color: #0a3641;
  text-transform: uppercase;
  padding: 30px;
}

.cta-product-info a {
  border: 3px solid #de7c44;
  text-decoration: none;
  font: normal normal bold 12px/15px Roboto Condensed;
  color: #de7c44;
  margin: 1em;
  padding: 3px;
  text-transform: uppercase;
}

.cta-product-info a:hover {
  background-color: #de7c44;
  color: white;
}

.selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.selection select {
  background-color: transparent;
  border: solid 1px lightgrey;
  width: 100%;
}

.selection label {
  font: normal normal bold 10px/13px Roboto;
}

/* .color-choices,
.size-choices {
  position: relative;
}

.color-choices select,
.size-choices select {
  display: none;
}

.select-selected {
  background: white;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: solid 2px #0a3641;
}

.select-selected.select-arrow-active:after {
  border-color: #187a93;
  top: 7px;
}

.select-items div,
.select-selected {
  color: white;
  padding: 8px 16px;
  border: solid 2px transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #0c3d4a;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: lightblue;
} */

.product-description p {
  font: normal normal normal 16px/22px Roboto Condensed;
  color: #0a3641;
  margin: 3em 5px;
}

.color-choices p,
.size-choices p,
.size-choices a {
  font: normal normal bold 11px/14px Roboto Condensed;
  color: #0a3641;
}

.size-choices a:hover,
.size-choices li:hover {
  color: #c95613;
  text-decoration: underline;
}

.custome-ratings {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
}

.ratings-comments h3 {
  max-width: 100px;
  margin: auto;
}

.custome-ratings h4,
.ratings-comments h3 {
  font: normal normal bold 35px/41px Roboto Condensed;
  color: #0a3641;
}

.custome-ratings h4 {
  margin-right: 1em;
  flex-basis: 100%;
}

.product-info p {
  font: normal normal bold 20px/26px Roboto Condensed;
  text-transform: uppercase;
  color: #0a3641;
}

.review-cta a {
  margin: 2em;
  font: normal normal bold 22px/25px Roboto Condensed;
  color: #0a3641;
  border: 3px solid #0a3641;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px;
}

.review-cta a:hover {
  background-color: #0a3641;
  color: white;
}

.product-info i,
.product-info img {
  float: right;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .product-specific {
    display: flex;
  }

  .blue-jacket-thumbnails-container {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    gap: 3px;
    margin-left: 10px;
  }

  .product-specific img {
    max-width: 100%;
    height: auto;
  }

  .selection {
    margin-bottom: 2em;
  }

  .product-info {
    margin: 10px;
  }

  .product-info p {
    font-size: 10px;
    text-transform: uppercase;
  }

  .product-info img {
    display: none;
  }

  .color-choices p,
  .size-choices p,
  .size-choices a {
    font: normal normal bold 10px/12px Roboto Condensed;
  }

  .cta-product-info {
    display: flex;
    justify-content: center;
    gap: 5em;
  }

  .cta-product-info a {
    font: normal normal bold 11px/13px Roboto Condensed;
    padding: 1em;
  }

  .product-description p {
    font: normal normal normal 15px/18px Roboto Condensed;
  }

  .ratings {
    max-width: 200px;
    height: auto;
    margin: 2em 2em 0em 2em;
  }

  .rating-bar {
    display: none;
  }

  .custome-ratings h4,
  .ratings-comments h3 {
    font-size: 20px;
  }

  .ratings-comments h3 {
    justify-content: center;
  }

  .custome-ratings p {
    color: black;
    font-size: 12px;
  }

  .ratings-stars {
    max-width: 50%;
    height: auto;
    margin: 0px 5px;
  }

  .more-comment-cta img {
    display: none;
  }
  .review-cta {
    display: flex;
    justify-content: center;
  }

  .review-cta a {
    font: normal normal bold 11px/12px Roboto Condensed;
    padding: 8px;
  }
}

@media screen and (min-width: 769px) {
  .product-specific-main {
    display: flex;
    margin: 5em;
  }

  .product-specific {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }

  .blue-jacket-thumbnails-container {
    display: flex;
    margin-top: 5px;
    gap: 5px;
  }

  .product-specific img {
    max-width: 100%;
  }

  .product-info-container {
    margin: 0em 10em;
    width: 700px;
  }

  .selection {
    display: block;
    margin-top: 5em;
  }

  .product-info,
  .color-choices,
  .size-choices {
    margin-bottom: 10px;
  }

  .product-info img {
    width: 150px;
  }

  .cta-product-info {
    display: flex;
    justify-content: center;
    gap: 10em;
  }

  .cta-product-info a {
    padding: 1em;
    width: 100px;
    text-align: center;
  }

  .product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .product-container .feature-products {
    max-width: 500px;
    height: auto;
  }

  .review-container {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
  }

  .rating-bar {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .custome-ratings {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
  }

  .custome-ratings h4 {
    margin-bottom: 10px;
  }

  .more-comment-cta {
    display: flex;
    justify-content: center;
  }
}

/* Contact us */
.contact-us-h1 {
  max-width: 500px;
  margin: 0em auto 1em;
}

.contact-us-h1 h1 {
  font: normal normal bold 40px/51px Roboto Condensed;
  color: #0a3641;
}

.contact-us-container {
  margin-bottom: 10em;
}

.contact-us-form-container fieldset {
  border: 2px solid var(--unnamed-color-0a3641);
  box-shadow: 0px 3px 6px #de7c4480;
  border: 2px solid #0a3641;
}
.contact-us-form-container input {
  margin: 1em;
}

.contact-us-info p {
  font: italic normal bold 19px/24px Roboto Condensed;
  color: #0a3641;
}

.contact-us-cta button {
  border: 3px solid #de7c44;
  color: #de7c44;
  padding: 5px 10px;
  font: normal normal bold 12px/15px Roboto Condensed;
  margin-top: 3em;
  text-transform: uppercase;
}

.contact-us-cta button:hover {
  color: white;
  background-color: #de7c44;
}

.loader {
  width: 100px;
  height: 100px;
  border: solid 25px orange;
  border-top: solid 25px lightblue;
  border-radius: 50%;
  animation: spin 3s linear infinite;
  margin: 100px auto;
}

.submitMsg {
  margin: 5em 0em;
}

@keyframes spin {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.errorMessage {
  display: none;
  font-size: 10px;
  color: red;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact-us-h1 h1 {
    font: normal normal bold 30px/35px Roboto Condensed;
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  .contact-us-img {
    display: none;
  }

  .contact-us-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
  }

  .contact-us-cta {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  .contact-us-cta button {
    font: normal normal bold 11px/12px Roboto Condensed;
  }

  .contact-us-info p,
  .contact-us-form-container label {
    font: italic normal bold 14px/17px Roboto Condensed;
    margin-left: 1em;
  }

  .contact-us-form-container {
    margin-bottom: 1em;
  }

  .contact-us-info i {
    margin: 1em;
  }

  .contact-us-container {
    margin-bottom: 0;
  }

  .submitMsg {
    max-width: 400px;
    padding: 10px;
    text-align: center;
    margin: 3em 0em;
  }
}

@media screen and (min-width: 769px) {
  .contact-us-container {
    display: flex;
    vertical-align: center;
    justify-content: center;
    justify-content: space-evenly;
  }

  .contact-us-img {
    max-width: 270px;
  }

  .contact-us-info-container {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }

  .contact-us-form-container fieldset {
    padding: 3em;
  }

  .contact-us-form-container input {
    border: 2px solid #0a3641;
    padding: 10px;
    width: 300px;
    height: auto;
  }

  .contact-us-info i {
    padding: 2em;
  }

  .contact-us-cta {
    display: flex;
    float: right;
  }
}

/* Our History - About us */

.our-history-main img {
  width: 100%;
}

.our-history-text p {
  margin: 1em;
  font: normal normal bold 26px/32px Roboto Condensed;
  color: #0a3641;
}

.our-history-main h1 {
  all: unset;
  font-size: 30px;
  text-align: right;
  margin-right: 3em;
  font: normal normal bold 60px/71px Roboto Condensed;
  color: #0a3641;
}

@media screen and (max-width: 768px) {
  .our-history-main h1 {
    font: normal normal bold 30px/35px Roboto Condensed;
    margin: 1em;
  }

  .our-history-text p {
    font: normal normal bold 18px/21px Roboto Condensed;
  }
}

@media screen and (min-width: 769px) {
  .Our-history_container {
    display: flex;
    flex-wrap: wrap;
    margin: 3em;
  }

  .our-history-text {
    width: 800px;
  }
}

/* Cart */
.cart-product-summary {
  display: flex;
  gap: 10px;
  margin: 3em 1em;
  text-transform: uppercase;
}

.cart-product-img img {
  max-width: 120px;
  margin-right: 3em;
}

.cart-product-summary p,
.amount-summary p {
  font: normal normal normal 20px/24px Roboto Condensed;
  color: #0a3641;
}

.cart-product-info input {
  border: 3px solid #0a3641;
}

.Continue-checkout a {
  text-decoration: none;
  font: normal normal normal 22px/30px Roboto Condensed;
  color: #187a93;
}

.price-summary {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  float: right;
  margin-right: 5em;
}

.Continue-checkout {
  display: inline-flex;
  align-items: center;
  margin: 3em;
}

@media screen and (max-width: 768px) {
  .cart-product-img img {
    max-width: 100px;
  }

  .cart-product-summary p,
  .amount-summary p {
    font: normal normal normal 10px/12px Roboto Condensed;
  }

  .cart-product-info input {
    border: 1px solid #0a3641;
  }

  .cart-product-summary input {
    margin: 10px 0px;
  }

  .discount {
    margin: 0px 10px 10px 10px;
  }

  .Continue-checkout a {
    font: normal normal normal 22px/26px Roboto Condensed;
  }

  .Continue-checkout img {
    max-width: 40px;
  }
}

@media screen and (min-width: 769px) {
  .cart-product-summary {
    margin: 6em;
  }

  .discount {
    margin-left: 6em;
    margin-bottom: 1em;
  }

  .discount input {
    border: 1px solid #0a3641;
    width: 300px;
  }

  .cart-product-summary p,
  .amount-summary p {
    font: normal normal normal 10px/18px Roboto Condensed;
  }

  .Continue-checkout img {
    display: flex;
    vertical-align: center;
  }

  .Continue-checkout img {
    width: 20px;
  }
}

/* Checkout */
.custom-form h4 {
  font: normal normal bold 26px/32px Roboto Condensed;
  color: #0a3641;
}

.cta-to-shipping {
  display: flex;
  justify-content: center;
}

.cta-to-shipping button {
  background: #187a93;
  border: none;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font: normal normal bold 12px/15px Roboto Condensed;
}

.cta-to-shipping a {
  text-decoration: none;
  color: white;
  font: normal normal bold 12px/15px Roboto Condensed;
  text-transform: uppercase;
}

.footer-terms a,
.footer-rights {
  margin: 10px;
}

.terms-rights a,
.edit-cart-cta a {
  display: inline-block;
  font: normal normal normal 11px/13px Roboto Condensed;
  color: #187a93;
}

.terms-rights a:hover {
  color: black;
}

.edit-cart-cta a:hover {
  color: black;
}

.shipping-info input,
.custom-information input {
  margin: 8px 0px;
  border: 1px solid #707070;
  padding: 5px;
  border-radius: 7px;
}

.edit-cart-cta a {
  margin-left: 10px;
  padding: 5px;
}

.edit-cart-cta a:hover {
  color: #000000;
}

.shipping-info {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  max-width: 500px;
}

.shipping-info h4 {
  flex-basis: 100%;
}

.shipping-info input,
.custom-information input {
  padding: 10px 30px;
}

#emailCheckoutError {
  text-align: start;
  padding-left: 15px;
}

@media screen and (max-width: 768px) {
  .checkout-proccess img {
    max-width: 100%;
    margin-bottom: 3em;
  }

  .custom-form h4 {
    font: normal normal bold 18px/21px Roboto Condensed;
  }

  .custom-information {
    margin: 1em;
    display: flex;
    flex-direction: column;
  }

  .shipping-info {
    gap: 10px;
    justify-content: center;
  }

  .shipping-info input {
    padding: 10px 30px;
  }

  .cta-to-shipping a {
    font: normal normal bold 11px/12px Roboto Condensed;
  }

  .price-summary {
    margin-bottom: 3em;
  }

  .terms-rights {
    all: unset;
    background: rgb(239, 238, 238);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-rights {
    font: normal normal normal 8px/10px Roboto Condensed;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 769px) {
  .checkout-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em;
  }

  .custom-information {
    margin: 2em 0em 0em 2em;
  }

  .shipping-info input,
  .custom-information input {
    margin: 10px;
  }

  .input-billingaddress,
  .billing-label {
    display: inline-block;
    justify-content: center;
  }

  .cta-to-shipping a {
    font: normal normal bold 12px/14px Roboto Condensed;
    padding: 2em;
  }

  .summary-container {
    background-color: rgb(239, 238, 238);
  }

  .terms-rights {
    all: unset;
    float: right;
    margin: 0em 30em 50em 0em;
    text-align: center;
  }

  .footer-rights {
    font: normal normal normal 10px/12px Roboto Condensed;
    text-transform: uppercase;
  }
}

/* Checkout-success */
.Checkout-success-header > * {
  display: flex;
  justify-content: center;
}

.continue-shopping {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6em;
}

.continue-shopping p {
  font: normal normal bold 36px/42px Roboto Condensed;
  color: #187a93;
  text-shadow: 0px 3px 6px #de7c4466;
}

.continue-shopping p:hover {
  color: #c4662f;
  text-shadow: 0px 3px 6px #187a93;
}

.continue-shopping a {
  text-decoration: none;
}

.success-comfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3em;
}

.success-comfirmation h1 {
  font: normal normal bold 46px/54px Roboto Condensed;
  color: #187a93;
}

.success-comfirmation p {
  font: normal normal normal 12px/14px Roboto Condensed;
  color: #0a3641;
}

@media screen and (max-width: 768px) {
  .Checkout-success-header img {
    max-width: 30%;
    margin: 1em 0em 3em 0em;
  }

  .Checkout-success-process {
    width: 100%;
    margin-bottom: 3em;
  }

  .success-comfirmation h1 {
    font: normal normal bold 23px/27px Roboto Condensed;
  }

  .success-comfirmation p {
    font: normal normal normal 12px/14px Roboto Condensed;
  }

  .continue-shopping img {
    max-width: 30px;
  }

  .continue-shopping p {
    font: normal normal bold 18px/21px Roboto Condensed;
  }
}

@media screen and (min-width: 769px) {
  .Checkout-success-header img {
    max-width: 15%;
    margin: 1em 0em 3em 0em;
  }

  .Checkout-success-process {
    max-width: 100%;
    margin: 3em 0em;
  }

  .proccess-bar {
    display: flex;
    justify-content: center;
  }

  .success-comfirmation p {
    font: normal normal normal 28px/32px Roboto Condensed;
  }
}
